.app {
  font-family: "MYRIAD";
  font-weight: 300;
  font-size: 16px;
  min-height: 100vh;
  width: 100vw;
  min-width: $minContentWidth;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 100px 50px 50px;

  background: radial-gradient(#fff, $main_bcg);
  background-position: bottom;
  background-size: cover;
  transition: 0.4s ease-out;

  .content {
    min-width: $minContentWidth;
    max-width: 600px;
  }
}
