.app {
  font-family: "MYRIAD";
  font-weight: 300;
  font-size: 16px;
  min-height: 100vh;
  width: 100vw;
  min-width: $minContentWidth;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 100px 50px 50px;

  background: radial-gradient(#fff, $main_bcg);
  background-position: bottom;
  background-size: cover;
  transition: 0.4s ease-out;

  .content {
    min-width: $minContentWidth;
    max-width: 600px;

    position: relative;

    .fav {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      position: absolute;
      top: -50px;
      cursor: pointer;
      font-family: Impact;
      letter-spacing: 2px;
      user-select: none;

      color: transparent;
      -webkit-text-stroke: 1px $dark;
      text-stroke: 1px $dark;
      text-shadow: none;
      transition: color 0.5s background-image 0.5s;

      background-image: url('../imgs/svg/fav_icon.svg');
      background-repeat: no-repeat;
      background-size: cover;


      &:hover {
        color: $light;
        background-image: url('../imgs/svg/red_fav_icon.svg');
      }

      &__num {
        position: relative;
        top: 9px;
        left: 12px;
      }
    }

    .fav--night {
      -webkit-text-stroke: 1px $light;
      text-stroke: 1px $light;
      background-image: url('../imgs/svg/white_fav_icon.svg');

      &:hover {
        color: $dark;
      }
    }

    .appTitle {
      font-family: 'MYRIAD';
      font-weight: 100;
      font-size: 2rem;
      margin-bottom: 1rem;
      text-align: center;
      color: $dark;

      &--night {
        color: $light;
      }
    }
  }

  &-01d {
    background: url(../imgs/mainBgs/01d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-01n {
    background: url(../imgs/mainBgs/01n.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-02d, &-03d {
    background: url(../imgs/mainBgs/02d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-02n, &-03n {
    background: url(../imgs/mainBgs/02n.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-04d {
    background: url(../imgs/mainBgs/04d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-04n {
    background: url(../imgs/mainBgs/04n.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-09d, &-10d {
    background: url(../imgs/mainBgs/09d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-09n, &-10n {
    background: url(../imgs/mainBgs/09n.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-11d {
    background: url(../imgs/mainBgs/11d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-11n {
    background: url(../imgs/mainBgs/11n.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-13d {
    background: url(../imgs/mainBgs/13d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-13n {
    background: url(../imgs/mainBgs/13n.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-50d {
    background: url(../imgs/mainBgs/50d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-50n {
    background: url(../imgs/mainBgs/50n.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
