@media (max-height: 678px) {
  .app {
    padding: 65px 50px 0;
  }

  .info {
    padding: 1rem;
  }
}

@media (max-height: 568px) {
  .app {
    padding: 20px 50px 0;
  }
}

@media (min-height: 900px) {
  .app {
    padding-top: 200px;
  }
}

@media (min-height: 1200px) {
  .app {
    padding-top: 300px;
  }
}

@media (max-width: 500px) {
  .app {
    &-01d {
      background: url(../imgs/mainBgs/to500/01d.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-01n {
      background: url(../imgs/mainBgs/to500/01n.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-02d, &-03d {
      background: url(../imgs/mainBgs/to500/02d.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-02n, &-03n {
      background: url(../imgs/mainBgs/to500/02n.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-04d {
      background: url(../imgs/mainBgs/to500/04d.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-04n {
      background: url(../imgs/mainBgs/to500/04n.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-09d, &-10d {
      background: url(../imgs/mainBgs/to500/09d.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-09n, &-10n {
      background: url(../imgs/mainBgs/to500/09n.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-11d {
      background: url(../imgs/mainBgs/to500/11d.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-11n {
      background: url(../imgs/mainBgs/to500/11n.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-13d {
      background: url(../imgs/mainBgs/to500/13d.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-13n {
      background: url(../imgs/mainBgs/to500/13n.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-50d {
      background: url(../imgs/mainBgs/to500/50d.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-50n {
      background: url(../imgs/mainBgs/to500/50n.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

@media (max-width: 500px) {
  .app {
    &-01d {
      background: url(../imgs/mainBgs/to1000/01d.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-01n {
      background: url(../imgs/mainBgs/to1000/01n.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-02d, &-03d {
      background: url(../imgs/mainBgs/to1000/02d.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-02n, &-03n {
      background: url(../imgs/mainBgs/to1000/02n.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-04d {
      background: url(../imgs/mainBgs/to1000/04d.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-04n {
      background: url(../imgs/mainBgs/to1000/04n.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-09d, &-10d {
      background: url(../imgs/mainBgs/to1000/09d.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-09n, &-10n {
      background: url(../imgs/mainBgs/to1000/09n.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-11d {
      background: url(../imgs/mainBgs/to1000/11d.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-11n {
      background: url(../imgs/mainBgs/to1000/11n.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-13d {
      background: url(../imgs/mainBgs/to1000/13d.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-13n {
      background: url(../imgs/mainBgs/to1000/13n.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-50d {
      background: url(../imgs/mainBgs/to1000/50d.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    &-50n {
      background: url(../imgs/mainBgs/to1000/50n.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 24px;

    .app {
      .content {
        min-width: 450px;
      }
    }
  }
}