@media (max-height: 678px) {
  .app {
    padding: 65px 50px 0;
  }

  .info {
    padding: 1rem;
  }
}

@media (max-height: 568px) {
  .app {
    padding: 20px 50px 0;
  }
}

@media (min-height: 900px) {
  .app {
    padding-top: 200px;
  }
}

@media (min-height: 1200px) {
  .app {
    padding-top: 300px;
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 24px;

    .app {
      .content {
        min-width: 450px;
      }
    }
  }
}