// fonts and styles
@font-face {
  font-family: 'MYRIAD';
  src: url('../fonts/myriad-set-pro_text.ttf');
}

//color
$main_bcg: #0b8eab;
$input_bcg: #f7e8e3;
$spinner: tomato;
$dark: #04323a;
$light: #d1dcde;

// sizes
$minContentWidth: 350px;
